body {
  color: #272f3d;
  margin:auto;
  width: 90%;
}

header {
  background-color: #ecddce;
  color: gray;
}

main {
  background-color: #b4b28c;
  min-height: 200px;
}

legend {
  font-size: 1.3em;
  font-family: 'Nothing You Could Do', cursive;
  padding-bottom: 20px;
}

footer {
  background-color: #ecddce;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

footer p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #7a8aa8;
}

a:hover {
  color: #ecddce;
}

#logo {
  padding: 20px;
  text-align: center;

}

#avatar {
  float: left;
  padding: 30px;
  text-align: center;
}

#quote {
  font-size: 2em;
  font-family: 'Nothing You Could Do', cursive;
  padding-bottom: 30px;
  text-align: center;
}

#dailies {
  background-color: #b9abaa;
  float:left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 43%;
}

#todos {
  background-color: #b9abaa;
  float:right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 43%;
}

.clear {
  clear:both;
}



/* The Modal (background) */
.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content label {
  display: block;
  padding-top: 20px;
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}